body{
    font-family: 'Quantico' !important;
}

h1 {
    padding: 30px;
    text-align: center;
  }
  
.bg-grey {
    background-color: #c0c0c049;
  }
  
h2 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
  }
  
p {
    font-size: 20px;
  }