*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Quantico";
}
main{
    min-height: 800px;
}
/*Logo y header de todos los HTML*/

header{
    background-size: cover;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: flex;
    z-index: 99;
    height: 40px;
    width: 75px;
}
/*Fin de logo y header para todas los HTML*/


/* Banners para cada sección */
.home{
    background-image: url(../images/headers/home.webp);
    background-position:center;
}

.decks{
    background-image: url(../images/headers/decks.webp);
    background-position:center;
}

.players{
    background-image: url(../images/headers/players.webp);
    background-position: left;
}

.tournaments{
    background-image: url(../images/headers/tournaments.webp);
    background-position: center;
}

.contact{
    background-image: url(../images/headers/contact.webp);
    background-position:center;
}
/*Fin de los banners*/



/*Estilos del NAV para todas las secciones*/
nav{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

nav ul{
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: dashed;
    color: black;
    font-weight: bold;
    font-size: 11px;
    padding: 15px;
    border-radius: 100px;
    transition: background-color 0.5s;
}

nav ul li a:hover {
    color:red;
    background-color: black;
}
/*Fin del nav*/



/*Container para todas las secciones*/
.container {
    text-align: center;
}

.container h1{
    font-size: 30px;
    margin: 10px;
}

h2{
    text-align: center;
    padding: 30px;
}
/*Fin del container*/


/*Home*/
/* .text-home {

} */

.text-home p{
    margin-top: 10px;
}

.container .img-home img{
    width: 70%;
}
/*Fin del Home*/


/*Decks*/
.text-home-decks{
    text-align: center;
    font-size: 20px; 
}

.images-decks {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.images-decks img {
    max-width: 100%;
    height: auto;
    margin: 0 70px;
}
/*Fin de Decks*/


/*Torneos*/
.text-home-tournaments{
    text-align: center;
    font-size: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item{
    text-align: center;
    padding: 50px;
}

.grid-item img{
    width: 450px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.grid-item span{
    font-size: 25px;
    padding: 50px;
}
/*Fin de torneos*/

/*Jugadores*/
.text-home-players{
    text-align: center;
    font-size: 20px; 
}
.container-players p{
    font-size: 15px;
}

.table-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.table-container thead{
    background: lightblue;
    color: black;
}

.table-container thead tr th{
    font-size: 25px;
    border: 1px solid black;
}

.table-container tbody tr td{
    padding: 30px;
    color: black;
    font-size: 20px;
    border: 1px solid black;
}

.table-container img{
    width: 150px;
}
/*Fin de Jugadores*/


/*Contact*/
/* .h1-contact{
    width: 350px;
}

.grid-contact-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-item-img{
    width: 100%;
} */

.contenedor {
    display: grid;
    grid-template-columns: auto auto; /* Dos columnas de ancho automático */
    gap: 20px; /* Espacio entre las columnas */
  }
  
  .imagen {
    grid-column: 1 / 2; /* La imagen ocupa desde la columna 1 hasta la 2 */
  }
  
  .texto {
    grid-column: 2 / 3; /* El texto ocupa desde la columna 2 hasta la 3 */
  }
/*Fin del Contact*/


/*Footer general*/
footer{
    background:#000;
    font-family: "Quantico";
    text-align:center;
}
    
footer .row{
    padding: 10px;
    color:white;
    font-size: 15px;
}
    
footer .row a{
    text-decoration:none;
    color:white;
}
    
footer .row a:hover{
    color:red;
}
    
footer .row ul li{
    display:inline-block;
    margin:0px 20px;
}
    
footer .row a i{
    font-size: 15px;
    margin:0% 1%;
}

footer .row p{
    font-size: 10px;
}
/*Fin del Footer*/


@media only screen and (min-width: 320px) {
    nav ul li a {
        font-size: 8px;
    }
}


@media only screen and (min-width: 600px) {
    .logo{
        height: 150px;
        width: 250px;
    }    
    header{
        flex-direction:unset;
        height: 160px;
        display: flex;
        width: 100%;
    }
    nav{
        display: flex;
        margin: auto;
    }
    nav ul li a {
        margin: 50px;
        font-size: 25px;
    }
    .container{
        display: flex;
    }
    .text-home h1{
        padding: 30px;
        font-size: 30px;
    }
    .text-home p{
        margin-top:30px;
        font-size: 20px;
        width: 600px;
    }

    .img-home {
        width: 50%;
        order: -1;
    }
}